.aboutparent{
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
}
.about {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  background-color: #111111;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}
.back {
  position: relative;
  text-transform: uppercase;
  color: #676e74;
  font-size: 150px;
  opacity: 0.1;
  font-weight: bold;
}

.front {
  position: absolute;
  top: 80px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 5px;
  left: 0;
  right: 0;
}
.content{
  display: flex;
  justify-content: center;
}

.details {
  display: grid;
  font-size: 18px;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin-left: 20px;
  column-gap: 20px;
  row-gap: 20px;
}
.details p {
  display: flex;
  color: #525252;
}
.details p span {
  color: #fefefe;
  font-weight: bold;
  letter-spacing: 0px;
}
.downloadButton {
  text-decoration: none;
  margin-left: 20px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  border: 1px solid #ffb400;
  display: flex;
  align-items: center;
  width: fit-content;
}

.downloadButton a {
  color: #fefefe;
  font-weight: bold;
  text-decoration: none;
}

.downloadButton .icon {
  background-color: #ffb400;
  padding: 15px;
  margin-left: 10px;
  margin-right: 0;
  border-radius: 50px;
}
.circles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  place-items: center;
  column-gap: 20px;
}
.circles .skills {
  width: 130px;
  font-size: 15px;
}

.contentSecond h2 {
  color: #fefefe;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  /* margin: 50px 0; */
}

.expAndeducation .heading {
  color: #fefefe;
  text-transform: uppercase;
  margin-top: 100px;
}
.both {
  display: flex;
  max-width: 100%;
  margin-top: 30px;
  justify-content: space-between;
  column-gap: 50px;
}
.exp {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  max-width: 380px;
  margin: 20px 0;
  align-items: flex-start;
}
.logo {
  padding: 10px 15px;
  color: white;
  justify-content: center;
  background-color: #ffb400;
  border-radius: 50px;
}
.card p {
  color: #fefefe;
  width: fit-content;
  background-color: #525252;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}
.card .work {
  display: flex;
  text-align: left;
  /* margin-left: 10px; */
  border-left: 1px solid #525252;
  padding-left: 10px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.work h3 {
  font-size: 15px;
  font-weight: bold;
  color: #fefefe;
}
.education {
  max-width: 100%;
}

@media (max-width:1150px) {
  .content{
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .both {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .back {
    font-size: 80px;
  }
  .details {
    margin-left: 20px;
  }
  .details p {
    flex-direction: column;
  }
  .expAndeducation .heading {
    font-size: 22px;
  }
  .front {
    font-size: 35px;
    top: 35px;
  }
  .details {
    font-size: 13px;
  }
  .circles .skills {
    width: 65px;
  }
}



